{% extends 'dg_photography/base.html' %} {% load static %} {% load bootstrap4 %}
{% block content %}
    <div class="container">
        <h2 class="text-center text-secondary display-4 pb-3 border-bottom border-secondary">{{ user.username }}'s Articles</h2>
        <br />
        <div>
            <a class="nav-link text-right" href="{% url 'photo_blog:new_blog_article' %}">Create New Article</a>
        </div>
    </div>
    <div class="container w-75">
        <ul class="list-group">
            {% for article in my_articles %}
            <li class="list-group-item">
                <article class="mx-3">
                    <h5>{{ article.title }}</h5>
                    <p>{{ article.date_published }}</p>
                    <a href="{% url 'photo_blog:article' article.id %}"> View</a>
                    <br />
                    <a href="{% url 'photo_blog:edit_article' article.id %}"> Edit</a>
                </article>
            </li>
            {% empty %}
            <li>You have no articles</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}