{% extends 'dg_photography/base.html' %} {% load static %} {% load bootstrap4 %} {% load humanize %}
{% block title %}Blog - DG Photography{% endblock title %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'dg_photography:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Photo Blog</li>
    </ol>
</nav>
    <div class="container">
        <h2 class="text-center text-secondary display-4 pb-3 border-bottom border-muted">Articles</h2>
        <br />
        <p class="text-center text-secondary">
            Discover, learn, and stay informed. 
        </p>
        <br />
        <div>
            <a class="nav-link text-right" href="{% url 'photo_blog:new_blog_article' %}">Add Article</a>
            <a class="nav-link text-right" href="{% url 'photo_blog:my_articles' %}">My Articles</a>
        </div>
    </div>
    <div class="container w-75">
        <ul class="list-group">
            {% for article in articles %}
            <li class="list-group-item">
                <article class="mx-3">
                    <h5>{{ article.title|title }}</h5>
                    <p>by {{ article.author|title }}</p>
                    <p>{{ article.date_published }}</p>
                    <a href="{% url 'photo_blog:article' article.id %}"> View</a>
                </article>
            </li>
            {% empty %}
            <li>There are no articles</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
