{% extends "dg_photography/base.html" %} {% load static %} {% load bootstrap4 %} {% load humanize %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'dg_photography:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ user.username|title }}</li>
    </ol>
</nav>
<div class="container w-75">
    <h2 class="text-secondary text-center display-4 pb-3 border-muted border-bottom">Hello, {{ user.username|title }}</h2>
    <br />
    <p class="text-muted text-center">
        <div>Username</div>
    </p>
</div>