{% extends 'dg_photography/base.html' %} {% load static %} {% load bootstrap4 %}
{% block title %}Edit Photo{% endblock title %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item"><a href="{% url 'dg_photography:index' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit Photo / {{ photo.id }}</li>
  </ol>
</nav>
<div class="container w-75 p-4 my-4 border">
  <h3 class="text-secondary p-4 border-bottom">Edit Photo</h3>
  <div class="container p-4 my-2">
    <form enctype="multipart/form-data" method="POST" action="{% url 'dg_photography:edit_photo' photo.id %}">
    {% csrf_token %} 
    <p>
      {{ form.as_p }}
    </p>
      <p>
        {{ form.image.label_tag }}
      </p>
      <p>
        {{ form.image }}
      </p>
      <button
        type="submit"
        class="btn btn-lg btn-outline-primary"
        role="button"
        alt="submit"
        value="Save"
      >
        Save Changes
      </button>
    </form>
  </div>
</div>
{% endblock content %}