{% extends "dg_photography/base.html" %} {% load static %} {% load bootstrap4 %} {% load humanize %}
{% block title %}{{ user.username|title }}'s Photos{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'dg_photography:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ user.username|title }}'s Photos</li>
    </ol>
</nav>
<div class="container">
    <h2 class="text-secondary text-center display-4 pb-3">{{ user.username|title }}'s Photos</h2>
    <br />
    <div>
        <a class="nav-link text-right" href="{% url 'dg_photography:photos' %}">Photos</a>
        <a class="nav-link text-right" href="{% url 'dg_photography:new_photo' %}">Add a Photo</a>
    </div>
</div>
<div class="container w-75">
    <ul class="list-group">
        {% for photo in my_photos %}
        <li class="list-group-item">
            <article class="mx-3">
                <h5>{{ photo.title|title }}</h5>
                <p>{{ photo.year_taken }}</p>
                <a href="{% url 'dg_photography:photo' photo.id %}">View</a>
                <br />
                <a href="{% url 'dg_photography:edit_photo' photo.id %}">Edit</a>
            </article>
        {% empty %}
        <li>You have no photos.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}