{% extends 'dg_photography/base.html' %} {% load static %} {% load bootstrap4 %}
{% block title %}New Photo Comment Form{% endblock title %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'dg_photography:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Photo Comment / {{ photo.id }}</li>
    </ol>
</nav>
    <div class="container w-75 p-4 my-4 border">
        <h3 class="text-secondary p-4 border-bottom" style="background-color: #f2fbff;">New Comment</h3>
        <div class="container p-4 m-2">
            <form action="{% url 'dg_photography:new_photo_comment' photo.id %}" method="POST">
                {% csrf_token %} 
                <p>
                    {{ form.as_p }}
                </p>
                <button
                    type="submit"
                    class="btn btn-lg btn-outline-primary"
                    role="button"
                    alt="submit"
                    value="Save"
                >
                    Submit Comment
                </button>
            </form>
        </div>
    </div>
{% endblock content %}