{% extends "dg_photography/base.html" %} {% load static %} {% load bootstrap4 %} {% load humanize %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{% url 'dg_photography:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'dg_photography:photos' %}">Photos</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ photo.id }}</li>
    </ol>
</nav>
<div class="container">
    <h4 class="text-center text-secondary text-capitalize display-4 pb-2">{{ photo.title }}</h4>
    <br />
    <article>
        <a class="nav-link text-right" href="{% url 'dg_photography:photos' %}">Photos</a>
        <p>
            Camera: {{ photo.camera_make }}, {{ photo.camera_model }}
        </p>
        <p>
            Lens: {{ photo.lens_make }}, {{ photo.lens_model }}
        </p>
        <p>{{ photo.year_taken }}</p>
    </article>
    <br />
    <article class="d-flex justify-content-center">
        {% if photo.picture %}
        <img src="{{ photo.picture.url }}" style="max-width:750px;max-height:500px;">
        {% else %}
        <p>No image</p>
        {% endif %}
    </article>
</div>
<div class="container w-75">
    <p class="text-center text-secondary">Comments</p>
    <p>
        <a class="nav-link text-right" href="{% url 'dg_photography:new_photo_comment' photo.id %}">Add a new comment</a>
    </p>
    <ul class="list-group">
        {% for comment in comments %}
        <li class="list-group-item">
            <article class="mx-3">
                <p class="text-secondary text-left">- {{ comment.comment }}</p>
                <p class="text-secondary text-center">{{ comment.owner }}</p>
            </article>
        </li>
        {% empty %}
        <li>No Comments</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}